<!-- <div class="remove-container container-block">
<h2 class="container-block-title">About Theme</h2>
<ul class="list-unstyled interests-list">
<a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk"><li>How to use?</li></a>
</ul>
</div> -->
<!--//About-->

<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
    <!-- <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can <a href="#" target="_blank">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p> -->
    <P>
      I am Amirali Sharifian first-year PhD student at Simon Fraser University(SFU). I am working in Computer Architecture Research lab at SFU advised by <a href="https://www.cs.sfu.ca/~ashriram/">Arrvindh Shriraman</a>. My research interest lies in computer
        architecture, especially designing energy efficient hardware accelerators and High-Level Synthesis (HLS) tools.<br>I'm also interested in bioinformatic and applying hardware approach in bioinformatic algorithms.
    </p>
</div><!--//summary-->
</section><!--//section-->
