<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Publications</h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="pub-title">CHAINSAW: Creating Von-Neumann Accelerators with Fused Instruction Chains</h3>
        <!-- <div class="time">2015 - Present</div> -->
      </div>
      <!--//upper-row-->
      <div class="author"><span class="pub-author-me">Amirali Sharifian</span>, Snehasish Kumar, Apala Guha and Arrvindh Shriraman. Proc. of the 49th Intl. Symposium on Microarchitecture (MICRO 49th),
        <span class="date">Oct 2016</span>.
        <br><em>21%=61/283</em>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <a href="{{site.baseurl}}/assets/files/ChainsawAmirali.pdf">[PDF]</a>
      <a class="underline" id="bibtex001" href="##">[BibTeX]</a>
      <br>
      <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
      <a href="{{site.baseurl}}/assets/files/CHAINSAW.pptx">Slides</a><br>
      <i class="fa fa-github" aria-hidden="true"></i>
      <a href="https://github.com/sfu-arch/chainsaw">Chainsaw-Sim</a><br>

    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="pub-title">Specialized Macro-Instructions for Von-Neumann Accelerators</h3>
        <!-- <div class="time">2015 - Present</div> -->
      </div>
      <!--//upper-row-->
      <div class="author"><span class="pub-author-me">Amirali Sharifian, </span>
        <em>Master's Thesis, Simon Fraser University</em>. <span class="date">November 2016.</span><br>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <a href="http://summit.sfu.ca/item/16827">[PDF]</a>
      <a class="underline" id="bibtex002" href="##">[BibTeX]</a>

    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="pub-title">Peruse and Profit: Estimating the Accelerability of Loops</h3>
        <!-- <div class="time">2015 - Present</div> -->
      </div>
      <!--//upper-row-->
      <div class="author"> Snehasish Kumar, Nick Sumner,
        <span class="pub-author-me">Amirali Sharifian</span>, Viji Srinivasam and Arrvindh Shriraman.
        <em>In Proc. of the Intl. Conference on Supercomputing(ICS).</em>, <span class="date">Jun 2016.</span><br>
        <em>24%=43/178</em><br>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <a href="{{site.baseurl}}/assets/files/PeruseAmirali.pdf">[PDF]</a>
      <a class="underline" id="bibtex003" href="##">[BibTeX]</a>

    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="pub-title">An energy-efficient clustering algorithm for large scale wireless sensor networks.</h3>
        <!-- <div class="time">2015 - Present</div> -->
      </div>
      <!--//upper-row-->
      <div class="author"> Maryam Soleimani,
        <span class="pub-author-me">Amirali Sharifian</span> and Ali Fanian.
        <em>In Proc. of the Iranian Conference on Electrical Engineering
                (ICEE)</em>, <span class="date">April 2013.</span><br>
      </div>
    </div>
    <!--//meta-->
    <div class="details">
      <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <a href="{{site.baseurl}}/assets/files//EnergyWSN.pdf">[PDF]</a>
      <!--<a href="http://ieeexplore.ieee.org/document/6599697/">[PDF]</a>-->
      <a class="underline" id="bibtex004" href="##">[BibTeX]</a>

    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <!-- Trigger/Open The Modal -->
  <!-- <button id="myBtn">Open Modal</button> -->

  <!-- The Modal -->
  <div id="popup001" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" id="popclose001">&times;</span> @inproceedings{sharifian-micro2016,<br/> &nbsp;&nbsp;&nbsp;&nbsp;author={Sharifian, Amirali and Kumar, Snehasish and Guha, Apala and Shriraman, Arrvindh},<br/> &nbsp;&nbsp;&nbsp;&nbsp;title={Chainsaw: Von-neumann
      accelerators to leverage fused instruction chains},<br/> &nbsp;&nbsp;&nbsp;&nbsp;booktitle={In Proceedings of the International Symposium on Microarchitecture},<br/> &nbsp;&nbsp;&nbsp;&nbsp;year={2016}
      <br/> }
    </div>

  </div>

  <div id="popup002" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" id="popclose002">&times;</span> @phdthesis{sharifian2016specialized,
      <br/> &nbsp;&nbsp;&nbsp;&nbsp;author={Sharifian, Amirali},<br/> &nbsp;&nbsp;&nbsp;&nbsp;title={Specialized Macro-Instructions for Von-Neumann Accelerators}<br/> &nbsp;&nbsp;&nbsp;&nbsp;school={SIMON FRASER UNIVERSITY}<br/> &nbsp;&nbsp;&nbsp;&nbsp;year={2016}
      <br/> }
    </div>

  </div>

  <div id="popup003" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" id="popclose003">&times;</span> @inproceedings{kumar2016peruse,
      <br/> &nbsp;&nbsp;&nbsp;&nbsp;author={Kumar, Snehasish and Srinivasan, Vijayalakshmi and Sharifian, Amirali and Sumner, Nick and Shriraman, Arrvindh},<br/> &nbsp;&nbsp;&nbsp;&nbsp;title={Peruse and Profit: Estimating the Accelerability of Loops},<br/>      &nbsp;&nbsp;&nbsp;&nbsp;booktitle={Proceedings of the 2016 International Conference on Supercomputing},<br/> &nbsp;&nbsp;&nbsp;&nbsp;year={2016}
      <br/> }
    </div>

  </div>

  <div id="popup004" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" id="popclose004">&times;</span> @inproceedings{soleimanienergy,
      <br/> &nbsp;&nbsp;&nbsp;&nbsp;author={Soleimani, Maryam and Sharifian, Amirali and Fanian, Ali},<br/> &nbsp;&nbsp;&nbsp;&nbsp;title={An Energy-Efficient Clustering Algorithm for Large Scale},<br/> &nbsp;&nbsp;&nbsp;&nbsp;booktitle={Proceedings of
      the 21st Iranian Conference on Electrical Engineering },<br/> &nbsp;&nbsp;&nbsp;&nbsp;year={2013}
      <br/> }
    </div>

  </div>

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span> @inproceedings{soleimanienergy,
      <br/> &nbsp;&nbsp;&nbsp;&nbsp;author={Soleimani, Maryam and Sharifian, Amirali and Fanian, Ali},<br/> &nbsp;&nbsp;&nbsp;&nbsp;title={An Energy-Efficient Clustering Algorithm for Large Scale},<br/> &nbsp;&nbsp;&nbsp;&nbsp;booktitle={Proceedings of
      the 21st Iranian Conference on Electrical Engineering },<br/> &nbsp;&nbsp;&nbsp;&nbsp;year={2013}
      <br/> }
    </div>

  </div>

  <script type="text/javascript" src="{{site.baseurl}}/assets/js/modal.js"></script>



</section>

<!--//section-->
